.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(58, 58, 58, 0.49);
    border-radius: 70px;
    height: 50px;
    background: rgba(52, 52, 52, 0.49);
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);

    &__logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;

        &__logo {
            height: 20px;

            &:nth-child(2) {
                margin: 1px;
            }
        }
    }

    @media (max-width: 500px) {
        top: 35px;
        width: 85vw;

        &__logo-container {
            margin-left: 3px;
        }

        &__navbar-menu {
            display: none;
        }
    }

    @media (min-width: 501px) {
        top: 45px;

        &__logo-container {
            margin-left: 12px;
        }

        &__navbar-menu {
            display: flex;
            align-items: center;
            cursor: pointer;

            &__link {
                margin-inline: 16px;
                background: linear-gradient(160deg, rgba(255,255,255,1) 40%, rgb(210, 210, 210) 100%);
                -webkit-background-clip: text;
                color: transparent;

                &:hover {
                    cursor: pointer;
                    filter: drop-shadow(0 0 1.3em rgba(236, 236, 236, 0.59));
                    transition: 0.3s;
                }
            }
        }
    }
}